## 1. Import the Pandas Library

In [151]:
import numpy as np
import pandas as pd

## 2. Exploratory Data Analysis

In [152]:
# Read the data into a data frame
data = pd.read_csv('kc_house_data.csv')

In [153]:
# Check the number of data points in the data set
print(len(data))
# Check the number of features in the data set
print(len(data.columns))
# Check the data types available in this dataset
print(data.dtypes.unique())

21613
21
[dtype('int64') dtype('O') dtype('float64')]

We have one both numerical and categorical columns in this dataset.

## 3. Check Categorical Features
We can get the categorical column list using the below code

In [6]:
data.select_dtypes(include=['O']).columns.tolist()

['date']


We only have one categorical columns which is the date column that we will ignore. If you are interested to fine tune this model further, then you can preprocess this column.

In [155]:
#view sample data
data.sample(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
17399,5153900080,20140714T000000,199000.0,3,1.00,1510,9100,1.0,0,0,...,7,1510,0,1966,0,98003,47.3331,-122.319,1180,7220
5701,1552800010,20150311T000000,352000.0,5,2.75,2980,9838,1.0,0,0,...,7,1710,1270,1968,0,98030,47.3807,-122.222,2240,9838
17305,452002135,20150422T000000,1070000.0,4,2.50,2740,5000,2.0,0,0,...,9,2740,0,2012,0,98107,47.6740,-122.371,1660,5000
13795,9100000040,20140807T000000,480000.0,3,1.75,1710,4080,1.0,0,0,...,7,1130,580,1979,0,98136,47.5563,-122.392,1200,4080
5446,7645900235,20140710T000000,880000.0,6,2.50,2640,3680,2.0,0,0,...,8,1760,880,1922,0,98126,47.5771,-122.380,1960,3680

we don not need the id column also. So drop the column while fitting the data in ML model

## 4. Missing Value Columns List

In [10]:
#get the dimension of dataset
data.shape

(21613, 21)

In [9]:
#get record count for each variable
data.count()

id               21613
date             21613
price            21613
bedrooms         21613
bathrooms        21613
sqft_living      21613
sqft_lot         21613
floors           21613
waterfront       21613
view             21613
condition        21613
grade            21613
sqft_above       21613
sqft_basement    21613
yr_built         21613
yr_renovated     21613
zipcode          21613
lat              21613
long             21613
sqft_living15    21613
sqft_lot15       21613
dtype: int64

This dataset contains no missing value. So we can proceed further to make the machine learning model using the lightgbm

## 5. Split the Dataset

In [18]:
#separte x and y variable
X_data = data[['sqft_living','grade', 'sqft_above', 'sqft_living15','bathrooms','view',
                 'sqft_basement','lat','waterfront','yr_built','bedrooms']]
X=X_data.values
y = data.price.values

In [19]:
# Splitting the dataset into the Training set and Test set
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [23]:
#get train and test dataset size
X_train.shape

(17290, 11)

In [22]:
X_test.shape

(4323, 11)

17k records for training and 4k records for testing model efficiency.

## 6. CatBoost Model

In [24]:
# import lightgbm library
import lightgbm as lgb

You can give your custom values for the above parameters except objective. Why because we are doing the regression model, so the objective must be regression(more regression algorithms are available. Check documentation). To know more about parameters https://lightgbm.readthedocs.io/en/latest/Parameters.html
Boosting type traditional Gradient Boosting Decision Tree.

In [ ]:
modelc=CatBoostRegressor(iterations=200,
                            learning_rate=0.6,
                            depth=8,
                            loss_function='RMSE',
                            eval_metric='RMSE',
                            random_seed=99,
                            od_type='Iter',
                            od_wait=50)
modelc.fit(X_train, y_train, eval_set=(X_test, y_test), use_best_model=True, verbose=False)
y_pred = modelc.predict(X_test)
# Evaluating the Algorithm
from sklearn.metrics import explained_variance_score
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('Explained Variance',explained_variance_score(y_test,y_pred))
print('R Square :', metrics.r2_score(y_test, y_pred))

## 7. Computer Error Metrics

In [157]:
y_pred = model.predict(X_test)
# Evaluating the Algorithm
from sklearn.metrics import explained_variance_score
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('Explained Variance',explained_variance_score(y_test,y_pred))
print('R Square :', metrics.r2_score(y_test, y_pred))

Mean Absolute Error: 224653.524353
Mean Squared Error: 115312905075.0
Root Mean Squared Error: 339577.53912
Explained Variance 0.0311840359791
R Square : 0.0303669237836

Mean Absolute Error: 87852.5034367
Mean Squared Error: 21712306616.1
Root Mean Squared Error: 147350.964083
Explained Variance 0.817427881063
R Square : 0.817427454089